@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");*{box-sizing:border-box;margin:0;padding:0}body{font-size:1.125rem;font-family:"Public Sans",sans-serif}
#services {
    background-color: #f3f4f6;
    z-index: -1;
    position: relative;
    line-height: 1.6;
}
#services .grid {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-column-gap: 20px;
}
#services .wrapper {
    width: 80%;
    margin: 0 auto;
}
#services .wrapper h1 {
    padding: 6rem 0 1rem 0;
    font-weight: 400;
    font-size: 2.5rem;
    color:#2d314d
}
#services .wrapper h4 {
    font-weight: 400;
    font-size: 1.2rem;
    color: #9698a6;
    padding-bottom: 4rem;
}
#services .service h3 {
    font-size: 1.5rem;
    font-weight: 400;
    padding: 1rem 0;
    color: #2d314d;
}
#services .service p {
    font-size: 1.125rem;
    color: #9698a6;
    padding-bottom: 7rem;
}


/* RESPONSIVE */

@media only screen and (max-width: 550px){
    #services{
        text-align: center;
    }
    #services .wrapper h1{
        line-height: 1.2;
    }
    #services .grid{
        grid-template-columns: 1fr;
    }
    
    
}


/* Articles Touhid */

@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,400;1,300;1,700&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



body {
    font-family: 'Public Sans';
    font-size: 16px;
    background-color: hsl(0, 0%, 98%);
} 



.container {
    height: 100%;
    margin: 0 100px;
}


.container h2 {
    padding: 50px 50px 50px 17px;
    font-size: 2.5em;
    font-weight: 300;
    color: rgb(58, 58, 58);
}

.card-1,
.card-2,
.card-3,
.card-4 {
    height: 520px;
    width: 380px;
    background-color: #fff;

}


.cards img {
    height: 250px;
    width: 380px;
}



.cards p {
    margin: 18px 80px 0 30px;
    line-height: 1.5rem;
}

.p-subhead {
   font-size: 1.5em;
   font-weight: 500;
   color: rgb(58, 58, 58);
}


.text-color {
    color: rgb(158, 154, 154);
}


.cards {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    
}



/* Mobile View */

@media(max-width: 916px) {
    .container h2 {
        text-align: center;
    }

    .cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
    }
}

@media(max-width: 580px) {
    .container h2 {
        text-align: center;
    }


    .cards {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
    }
}