@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.125rem;
  font-family: "Public Sans", sans-serif;
}

#header {
  width: 100%;
  position: fixed;
  z-index: 6;
  height: 90px;
  background: #ffffff;
}

#navbar {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90px;
  background: #ffffff;
}

#nav-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#nav-logo:hover {
  cursor: pointer;
}

.nav-links {
  display: block;
  list-style-type: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav-links li {
  height: 90px;
  margin: 0px 12px;
  float: left;
}

.nav-links li:hover {
  background: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da)) left bottom #ffffff no-repeat;
  background: linear-gradient(to right, #31d35c 0%, #2bb7da 100%) left bottom #ffffff no-repeat;
  background-size: 100% 5px;
}

.nav-links a {
  display: block;
  font-size: 1.125rem;
  color: #9698a6;
  padding: 35px 5px;
  font-family: "Public Sans", sans-serif;
  height: 80px;
}

.nav-links a:hover {
  color: #2d314d;
  cursor: pointer;
}

.nav-links a:active {
  color: #fafafa;
}

/* Drawer */
.nav-drawer {
  color: #2d314d;
  position: absolute;
  height: 40vh;
  width: 85vw;
  top: 110px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  border-radius: 5px;
  background-color: #ffffff;
  list-style-type: none;
  padding: 20px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-family: "Public Sans", sans-serif;
  -webkit-box-shadow: 0px 40px 150px 30px #2d314d;
          box-shadow: 0px 40px 150px 30px #2d314d;
  z-index: 6;
}

.nav-drawer a:hover {
  cursor: pointer;
  color: #9698a6;
}

/* Drawer ends */
/* Gradient Butoon */
.gradient-btn {
  height: 50px;
  width: 200px;
  border: none;
  font-family: "Public Sans", sans-serif;
  font-size: 1.125rem;
  text-align: center;
  border-radius: 25px;
  text-transform: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-size: 200% auto;
  color: #ffffff;
  display: block;
  background-image: -webkit-gradient(linear, left top, right top, from(#31d35c), color-stop(51%, #2bb7da), to(#31d35c));
  background-image: linear-gradient(to right, #31d35c 0%, #2bb7da 51%, #31d35c 100%);
}

.gradient-btn:hover {
  background-position: right center;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  opacity: 0.7;
}

.gradient-btn:active {
  outline: none;
  color: #2d314d;
}

.gradient-btn:focus {
  outline: none;
}

#hamburger {
  display: none;
  cursor: pointer;
}

/* End of header */
/* RESPONSIVE  HEADER*/
@media only screen and (max-width: 985px) {
  /* Head */
  .nav-links, #nav-gradient-btn {
    display: none;
  }
  .nav-drawer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #hamburger {
    display: block;
  }
}

#hero {
  height: 800px;
  width: 100%;
  background-color: #fafafa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.left-hero {
  width: 40%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.left-hero-shield {
  width: 75%;
}

.hero-title, .hero-para, .hero-btn {
  margin: 30px 0;
}

.hero-title {
  font-family: "Public Sans", sans-serif;
  font-weight: 300;
  color: #2d314d;
  font-size: 3.2rem;
}

.hero-para {
  font-family: "Public Sans", sans-serif;
  font-size: 1.125rem;
  color: #9698a6;
}

.right-hero {
  width: 60%;
  height: 100%;
  position: relative;
}

.background-image {
  background: url(/img/bg-intro-desktop.svg);
  background-repeat: no-repeat;
  background-size: 150% 150%;
  background-position: left;
  height: 100%;
  width: 100%;
  z-index: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.mockups {
  background: url(/img/image-mockups.png);
  background-repeat: no-repeat;
  background-size: 820px 105%;
  background-position: left;
  height: 120%;
  width: 80%;
  z-index: 5;
  position: absolute;
}

@media only screen and (max-width: 985px) {
  #hero {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    height: 100%;
  }
  .left-hero, .right-hero {
    width: 100%;
  }
  .right-hero {
    height: 100vw;
  }
  .background-image {
    background: url(/img/bg-intro-mobile.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 110% 120%;
  }
  .mockups {
    background-size: 80% 100%;
    background-position: bottom;
    height: 92%;
    width: 100%;
    z-index: 5;
    position: absolute;
  }
  .left-hero {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .left-hero-shield {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 80%;
    height: 100%;
    margin-bottom: 70px;
  }
  .hero-title {
    font-size: 2.2rem;
  }
  .hero-title, .hero-para, .hero-btn {
    margin: 10px 0;
  }
}

#services {
  background-color: #f3f4f6;
  z-index: 3;
  position: relative;
  line-height: 1.6;
}

#services .grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 20px;
}

#services .wrapper {
  width: 80%;
  margin: 0 auto;
}

#services .wrapper h1 {
  padding: 6rem 0 1rem 0;
  font-weight: 400;
  font-size: 2.5rem;
  color: #2d314d;
}

#services .wrapper h4 {
  font-weight: 400;
  font-size: 1.2rem;
  color: #9698a6;
  padding-bottom: 4rem;
}

#services .service h3 {
  font-size: 1.5rem;
  font-weight: 400;
  padding: 1rem 0;
  color: #2d314d;
}

#services .service p {
  font-size: 1.125rem;
  color: #9698a6;
  padding-bottom: 7rem;
}

/* RESPONSIVE */
@media only screen and (max-width: 920px) {
  #services {
    text-align: center;
  }
  #services .wrapper h1 {
    line-height: 1.2;
  }
  #services .grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 550px) {
  #services {
    text-align: center;
  }
  #services .wrapper h1 {
    line-height: 1.2;
  }
  #services .grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.container {
  height: 100%;
  margin: 50px 10%;
}

.container h2 {
  padding: 50px 50px 50px 17px;
  font-size: 2.5em;
  font-weight: 300;
  color: #3a3a3a;
}

.card-1,
.card-2,
.card-3,
.card-4 {
  min-height: 520px;
  max-width: 380px;
  background-color: #fff;
}

.cards img {
  height: 40%;
  width: 100%;
  border-radius: 8px 8px 0 0;
}

.cards p {
  margin: 18px 18px 0 30px;
  line-height: 1.5rem;
}

.p-subhead {
  font-size: 1.125rem;
  font-weight: 500;
  color: #3a3a3a;
  font-family: "Public Sans", sans-serif;
  color: #2d314d;
}

.p-subhead:hover {
  color: #31d35c;
  cursor: pointer;
}

.text-color {
  font-size: small;
  color: #9e9a9a;
}

.description {
  font-size: medium;
  color: #9e9a9a;
}

.cards {
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}

/* Mobile View */
@media (max-width: 1380px) {
  .container h2 {
    font-size: xx-large;
    text-align: center;
  }
  .cards {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 920px) {
  .cards {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 550px) {
  .cards {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

#rightest-div, .col, .col1, .col2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#footer, #leftest-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#rightest-div, #leftest-div, .col {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#footer, .col2 {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#footer {
  background: #2d314d;
  height: 250px;
  width: 100%;
  padding: 20px;
  font-size: 1.125rem;
  font-family: "Public Sans", sans-serif;
}

#leftest-div {
  width: 60%;
  color: #ffffff;
}

#rightest-div {
  width: 40%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.col {
  text-align: left;
}

.col > a {
  cursor: pointer;
}

.col > a:hover, .fab:hover {
  color: #31d35c;
}

.col > a:active, .fab:active {
  color: #9698a6;
}

.fab {
  color: #ffffff;
  margin: 5px;
  font-size: 25px;
}

.col1 {
  text-align: left;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.col2 {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 100px;
}

#copyright {
  color: #9698a6;
  text-align: center;
}

/* Responsive Footer*/
@media only screen and (max-width: 800px) {
  #footer, #leftest-div, #rightest-div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  #footer {
    height: 100%;
  }
  #rightest-div {
    margin: 20px;
  }
  .col, .col1, .col2 {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .col1 {
    margin: 20px;
  }
  .col > a {
    margin: 10px;
  }
  #footer-logo {
    margin-bottom: 20px;
  }
}

/* Responsive Footer End */
/*# sourceMappingURL=styles.css.map */