@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");

//! Variables

//// Primary Colors
$dark-blue: #2d314d;
$lime-green: #31d35c;
$bright-cyan: #2bb7da;

//// Neutral Colors
$grayish-blue: #9698a6;
$light-grayish-blue: #f3f4f6;
$very-light-gray: #fafafa;
$White: #ffffff;

//// Typography
$font-family-base: "Public Sans", sans-serif;
$font-size-base: 1.125rem;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;
