//! Articles

.container {
    height: 100%;
    margin: 50px 10%;
}


.container h2 {
    padding: 50px 50px 50px 17px;
    font-size: 2.5em;
    font-weight: 300;
    color: rgb(58, 58, 58);
}

.card-1,
.card-2,
.card-3,
.card-4 {
    min-height: 520px;
    max-width: 380px;
    background-color: #fff;

}


.cards img {
    height: 40%;
    width: 100%;
    border-radius: 8px 8px 0 0;
}



.cards p {
    margin: 18px 18px 0 30px;
    line-height: 1.5rem;
}

.p-subhead {
   font-size: $font-size-base;
   font-weight: 500;
   color: rgb(58, 58, 58);
   font-family: $font-family-base;
   color: $dark-blue;
}
.p-subhead:hover {
    color: $lime-green;
    cursor: pointer;
}


.text-color {
    font-size: small;
    color: rgb(158, 154, 154);
}

.description {
    font-size: medium;
    color: rgb(158, 154, 154);
}


.cards {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
}


/* Mobile View */



@media(max-width: 1380px) {
    .container h2 {
        font-size: xx-large;
        text-align: center;
    }

    .cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
    }
}

@media(max-width: 920px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: 550px) {
    .cards {
        grid-template-columns: 1fr;
    }
}
